############################################################################
# API KEYS
OPENAI_API_KEY="your-openai-key"

# AUDIO SETTINGS
# Audio Generation
TTS_AUDIO="gTTS"

# MODEL SELECTION
# Select GPT Model
CHAT_MODEL_SELECTION="gpt-4-0314"
# For completions a model must be define
COMPLETION_MODEL_SELECTION="text-davinci-003"

# FINE TUNED MODELS
# Lnu-AI has an OpenAI Fine-Tuned model 
FINE_TUNED_MODEL_DATA="curie:ft-personal-2023-05-16-05-11-43"

# JSON FILE SETTINGS
# All these files support the Embedded Mi'kmaq Corpus data
TRAINED_DATA="trained_data"
TRAINED_DATA_EMBEDDINGS="trained_data_embeddings"
ALL_WORD_DETAILS="all_word_details"
WORD_DETAILS_EMBEDDINGS="word_details_embeddings"

# IMAGE SETTINGS
IMAGE_METHOD="openai"
############################################################################